body {
    background-color: #1C2659;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: sans-serif;
}

.image-container {
    text-align: center;
}
.login-container {
    background-color: #1C3959;
    padding: 30px;
    margin-top: 100px;
    border-radius: 10px;
}
input[type="text"], input[type="password"] {
    background-color: #172B46;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #172B46;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;

}

button {
    background-color: #1C2659;
    color: white;
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}